# Server configuration
PORT=8000
HOST=0.0.0.0

# Database connection configuration
DATABASE_URL=postgresql+asyncpg://DB_USER:DB_PASSWORD@localhost:DOCKER_PORT/DB_NAME
SECRET_KEY=

DB_USER=
DB_PASSWORD=
DB_NAME=